
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(45deg, #090724,#0b2921); 
    position: relative;
    /* 고정값 추가 gpt */
    padding-top: 80px; /* height of header */
    padding-bottom: 100px; /* height of footer */
}
/* header part */
#header_box {
    width: 100%;
    height: 80px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 세로 정렬 추가 */
    box-sizing: border-box;
     /* 고정값 추가 gpt */
     z-index: 1000;
     position: fixed;
     top: 0;
     left: 0;
     text-align: center;
     background: linear-gradient(45deg, #090724,#0b2921); 
}
    /* 고정값 추가 gpt */
footer{
    position: static;
    bottom: 0;
    left: 0;
    z-index: 1000; 
}
a{
    text-decoration: none;
    color: #777;
    
}
.header_logo {
    width: 200px;
    display: flex;
    align-items: center;
}

.header_logo p {
    width: 150px;
    height: 60px;
    margin-top: 50px;
    font-size: 27px;
    color: #34e451;
    font-family: abster;
    letter-spacing: 3px;
}

.header_logo img {
    width: 50px;
    height: 60px;
}

.navbar_menu {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.navbar_menu ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  
}

.navbar_menu li {
    padding: 8px 20px;
    list-style: none;
    font-size: 13px;
    color: #fff;
    
}

.navbar_menu li a:hover {
    color: #34e451;
    
}

/* search box */
.search_box {
    margin-right: auto; 
}

.search_box input {
    background: url(/home/img/icon/search_white_wght400_GRAD0_opsz24.png\ \(2\)) no-repeat 5px center;
    width: 600px;
    height: 40px; /* 높이 조정 */
    background-size: 20px;
    padding-left: 40px;
    border-radius: 4px;
    margin: 20px 0; /* 마진 조정 */
    color: #777;
}

/* login */
.header_login {
    display: flex;
    align-items: center; /* 세로 정렬 추가 */
    margin-left: auto; 
    margin-right: 80px;
}

.header_login a {
    width: 60px;
    height: 25px;
    border-radius: 4px;
    margin-right: 50px; /* 왼쪽 간격 조정 */
    background: #242726;
    color: #a8a8a8;
    font-size: 12px;
}
.header_login a p{
   margin-top: 3px;
   
}

.header_login a:hover {
    background: #34e451;
    transition: all 0.3s ease-in; /* 애니메이션 시간 단축 */
    color: #5a5a5a;
    font-weight: bold;
}

.header_login img{
    width: 30px;
    height: 30px; 
    margin-right: 50px;    
}
    /* margin-top: 10px;
    padding: 0 50px; */
    /* font-size: 12px; */
    /* border: 1px solid #666;*/ 
 /* }  */ 

 .header_login img:hover{
  
    /* background: url(/home/img/icon/icons8-햄버거-메뉴-green-30.png) no-repeat center center; */
    transition: all 0.5s ease-in-out;
    color: #34e451;
    /* font-weight:bold; */
 }
/* Discover daily */
#main_date{
    width: 80%;
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    /* border: 1px solid #d0f175; */
    }
 #main_date p{
    margin: 0 30px;
    padding-top: 10px;
    color:#fff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
     

/* mini_calendar */
.mini_calendar {
    margin-left: 10px; /* 필요한 경우 여백 조정 */

}

.calendar {
    width:50px;
    height: 50px;
    padding: 0px;
    text-align: center;
    border-radius: 10px;
    /* border: 1px solid #c02525; */
}

.top {
    width: 50px;
    height: 20px;
    background-color: #ff2525bb;
    font-weight: bold;
    /* border-radius: 10px 10px 0 0; */
}

.bottom {
    /* font-weight: bold; */
    width: 50px;
    height: 30px;
    background-color: #fff;
    border-radius:0 0 10px 10px;
}
    
 .top #month  {
    width: 50px;
    height: 20px;
    font-size: 10px;
    color: #fff;
    margin: 0 auto;
    padding-top: 2px;
    display: block;
     /* border: 1px solid #2825c0; */
     /* line-height: 90px; */
    }  
.bottom #date{
    width: 50px;
    height: 20px;
    font-size: 20px;
    margin: 0 auto;
    color: #353434;
    padding-top: 5px;
    display: block;
    /* border: 1px solid #2825c0; */

}  
/* 오늘의 트렌드 Slide box  */
.slide_section{
   width: 100%;
   height: 250px;
   display: flex;
   flex-direction: wrap;
   justify-content: center;
   align-items: center;
   /* border: 1px solid #fff; */
    
}
/* insert img  */
.slide_1{
    width: 350px;
    height: 165px;
    border-radius: 10px;
    margin: 15px 20px;
    position: relative;
    background:url(/home/img/slidebox/시즌-2.webp.webp) no-repeat center center/cover;  
    /* 이미지 경로와 크기 조절 */
    opacity: 1;
    /* border: 1px solid #fff; */
}
.slide_2{
    width: 350px;
    height: 165px;
    border-radius: 10px;
    margin: 15px 20px;
    position: relative;
    background:url(/home/img/slidebox/다다단-1.webp.webp) no-repeat center center/cover;
    opacity: 1;
    /* border: 1px solid #fff; */
}
.slide_3{
    width: 350px;
    height: 165px;
    border-radius: 10px;
    margin: 15px 20px;
    position: relative;
    background:url(/home/img/slidebox/다패-1.webp.webp) no-repeat center center/cover;
    opacity: 1;
    /* border: 1px solid #fff; */
}
.slide_4{
    width: 350px;
    height: 165px;
    border-radius: 10px;
    margin: 15px 20px;
    position: relative;
    background:url(/home/img/slidebox/굿럭-1.webp.webp) no-repeat center center/cover;
    opacity: 1;
    /* border: 1px solid #fff; */
}

.today_trend {
    color:#fff;
    left:5px;
}

.today_trend li{
    list-style: none;
    position: absolute;
    top:-5px;
    right: -5px;
    width: 115px;
    height: 25px;
    border-radius: 0 20px ;
    background-color: #fff;
    color: #0c0c0c;
    text-align: center;
    padding-top: 7px;
    font-size: 14px;
    /* margin: 0 10px 150px 160px; */
    /* border: 1px solid #fff; */
}
/* 2024.1시간 7분 */
.today_trend p{
    font-size: 12px;
    padding-top:  20px;
}
/* 타이틀  */
.today_trend h3{
    margin-top:  0;
}
/* (시즌)  */
.today_trend h5{
    font-size: 12px;
    margin-top:  0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
/* 지금 시청하기 */
 .slide_1 .watching  a,
 .slide_2 .watching  a,
 .slide_3 .watching  a,
 .slide_4 .watching  a {
    width: 320px;
    height: 28px;
    border-radius: 5px ;
    color:#fff;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #454c57;
}

/* swiper slider */

.swiper{
    /* background: linear-gradient(45deg, #090724,#0b2921);  */
    width:80%;
    right: 0;
    height: 350px;
    /* border: 1px solid #8a83e4; */
    margin-bottom: 10px;
    
  }
    .swiper h2 {
      margin-top: 0;
      color: #fff;
    }
  .swiper-wrapper{
    width: 100%;
    height: 100%;
    /* border: 1px solid #fc3030; */
  }

.swiper-button-next::after{
   
    color: gray; /* 회색으로 변경 */
}
  .bg1{background: url(img/swiper/k2.webp);}
  .bg2{background: url(img/swiper/k1.webp);}
  .bg3{background: url(img/swiper/k3.webp);}
  .bg4{background: url(img/swiper/k4.webp);}
  .bg5{background: url(img/swiper/k1.webp);}
  .bg6{background: url(img/swiper/k2.webp);}
  .bg7{background: url(img/swiper/k3.webp);}
  .bg8{background: url(img/swiper/k5.webp);}
  .bg9{background: url(img/swiper/k4.webp);}
  .bg10{background: url(img/swiper/k5.webp);}
  .bg11{background: url(img/swiper/h1.webp)}
  .bg12{background: url(img/swiper/h2.webp)}
  .bg13{background: url(img/swiper/h3.webp)}
  .bg14{background: url(img/swiper/h4.webp)}
  .bg15{background: url(img/swiper/h5.webp)}
  .bg16{background: url(img/swiper/h3.webp)}
  .bg17{background: url(img/swiper/h7.webp)}
  .bg18{background: url(img/swiper/h8.webp)}
  .bg19{background: url(img/swiper/h2.webp)}
  .bg20{background: url(img/swiper/h1.webp)}
  .bg21{background: url(img/swiper/c1.webp)}
  .bg22{background: url(img/swiper/c2.webp)}
  .bg23{background: url(img/swiper/c3.webp)}
  .bg24{background: url(img/swiper/c4.webp)}
  .bg25{background: url(img/swiper/c6.webp)}
  .bg26{background: url(img/swiper/c3.webp)}
  .bg27{background: url(img/swiper/c1.webp)}
  .bg28{background: url(img/swiper/c3.webp)}
  .bg29{background: url(img/swiper/c2.webp)}
  .bg30{background: url(img/swiper/a1.webp)}
  .bg31{background: url(img/swiper/a2.webp)}
  .bg32{background: url(img/swiper/a3.webp)}
  .bg33{background: url(img/swiper/a4.webp)}
  .bg34{background: url(img/swiper/a5.webp)}
  .bg35{background: url(img/swiper/a2.webp)}
  .bg36{background: url(img/swiper/a1.webp)}
  .bg37{background: url(img/swiper/a3.webp)}
  .bg38{background: url(img/swiper/a4.webp)}
  .bg39{background: url(img/swiper/a5.webp)}
  .bg40{background: url(img/swiper/a1.webp)}
  .bg41{background: url(img/swiper/m1.webp)}
  .bg42{background: url(img/swiper/m2.webp)}
  .bg43{background: url(img/swiper/m3.webp)}
  .bg44{background: url(img/swiper/m4.webp)}
  .bg45{background: url(img/swiper/m5.webp)}
  .bg46{background: url(img/swiper/m1.webp)}
  .bg47{background: url(img/swiper/m2.webp)}
  .bg48{background: url(img/swiper/m3.webp)}
  .bg49{background: url(img/swiper/m4.webp)}
  .bg50{background: url(img/swiper/m5.webp)}
 
  /* footer */
  
.line {
    display: block;
    width: 100vp;
    height: 0.5px;
    background-color: #777;
    margin-top: 50px; 
    opacity: 0.5;
}
 .list_box {
     display: flex;
     flex-wrap: nowrap;  
     align-items: center; /* 수직 중앙 정렬 */
     padding: 0; 
     margin-top: 20px; 
     list-style-type: none; 
     gap: 30px;
     font-weight: bold;
     /* border: 1px solid #518be9; */
     font-size: 12px;
     margin-left: 40px;
 }
.list_box li:nth-of-type(8) {
    margin-left: auto; 
    margin-right: 30px; 
}
.list_box li:nth-of-type(9){
    margin-left: 0; 
    margin-right: 100px;
}
#about_company{
    /* border: 1px solid #396d6d;   */
    color: #858585;
    font-size: 10px;
    margin-top: auto;
}
.ac1{
    display: flex;  
    gap: 20px;
    list-style-type: none;
}
.ac2{
    display: flex;  
    gap: 20px;
    margin-top: 0;
    list-style-type: none;
}
.ac3{
    display: flex;  
    gap: 20px;
    margin-top: 0;
    list-style-type: none; 
}
.ac4{
    display: flex;  
    gap: 20px;
    margin-top: 0;
    list-style-type: none; 
}

.social_icons{
display: flex;
width: 20px;
filter:
    opacity(0.3)
    invert(82%) 
    sepia(10%)
    saturate(7%) 
    hue-rotate(331deg)
    brightness(98%)
    contrast(94%);
list-style-type: none;
}
.social_icons li{
    margin-right: 30px;
    width: 30px;
    height: 20px;
    
    border-radius: 50px 70px ;
    background: #ffffff;  
    position: relative;
}
.social_icons li::before {
    content: '';
    position: absolute;
    width: 30px; /* 원의 크기 */
    height: 30px; /* 원의 크기 */
    background-color: #f0f0f0; /* 원의 배경색 */
    border-radius: 50%; /* 둥근 원 */
    top: 50%; /* 중앙에 배치 */
    left: 50%; /* 중앙에 배치 */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    z-index: 0; /* 아이콘 아래에 배치 */
}
.social_icons li img {
    position: relative;
    z-index: 2; /* 원 아래에 배치 */
    width: 24px; /* 아이콘 크기 */
    height: 24px; /* 아이콘 크기 */
    }
 .last_sentenc{
    font-size: 10px;
    color: #858585;
    margin-left: 40px;
 }

/* 1024px 이하: 태블릿 화면맞춰 헤더,메뉴, 검색창 크기조절*/

/* 반응형 미디어 쿼리 */
@media (max-width: 1024px) {
    .header_logo p {
        font-size: 24px; /* 폰트 크기 조정 */
    }

    .navbar_menu {
        width: 100%; /* 메뉴 폭을 100%로 조정 */
        flex-direction: column; /* 세로 방향으로 배치 */
    }

    .navbar_menu li {
        padding: 10px 0; /* 세로 패딩 조정 */
        font-size: 14px; /* 폰트 크기 조정 */
    }

    .search_box input {
        width: 100%; /* 검색창 폭을 100%로 조정 */
    }

    .header_login {
        margin-right: 20px; /* 오른쪽 마진 조정 */
    }
}
/* 768px 이하: 작은 화면에서의 레이아웃 조정          
              메뉴세로배치,다양한 요소의 크기를 줄임 */
              /* --------------추가 수정분 헤더 부분 2열로 랩하려 했으나 실패 ㅜㅜ  */
              /* #header_box {
                flex-wrap: wrap;
                height: 100px;
                padding: 10px;
            }
            .header_logo {
                flex: 1 1 100%; /* 로고를 전체 폭 사용 */
                /* justify-content: center; /* 중앙 정렬 */
                /*  display: flex; /* 플렉스 사용 */
                /*} */
                /*.navbar_menu {
                    flex: 1 1 100%; /* 메뉴를 전체 폭 사용 */
                    /* justify-content: center; /* 중앙 정렬 */
                    /*  margin-top: 10px; /* 간격 추가 */
                    /* }
                    
                    .header_login {
                        flex: 1 1 100%; /* 로그인 부분을 전체 폭 사용 */
                        /*   justify-content: center; /* 중앙 정렬 */
                        /* margin-top: 10px; /* 간격 추가 */
                        /* }
                        
                        .header_login a {
                            width: 40px; /* 버튼 폭 조정 */
                            /*  height: 20px; /* 버튼 높이 조정 */
                            /* font-size: 10px; /* 폰트 크기 조정 */
                            /*} */
                            /* --------- */
 @media (max-width: 768px) {
 body {
    padding-top: 60px; /* 헤더 높이에 맞춰 조정 */
    padding-bottom: 80px; /* 푸터 높이에 맞춰 조정 */
    }
  .header_logo p {
        font-size: 20px; /* 폰트 크기 조정 */
    }

    .navbar_menu li {
        font-size: 12px; /* 폰트 크기 조정 */
    }

    .search_box input {
        height: 35px; /* 검색창 높이 조정 */
    }

    .footer {
        font-size: 10px; /* 푸터 폰트 크기 조정 */
    }

    .list_box {
        flex-direction: column; /* 세로 방향으로 배치 */
        margin-left: 0; /* 왼쪽 마진 제거 */
        gap: 10px; /* 간격 조정 */
    }
    .list_box li:nth-of-type(8){
        margin: 0 auto; /* 가운데 정렬**/
    }
    .list_box li:nth-of-type(9){
        margin: 0 auto; /* 가운데 정렬**/
    }

    .social_icons {
        flex-direction:row; /* 세로 방향으로 배치 */
        align-items: center; /* 중앙 정렬 */
    }
}
/* 480px 이하: 모바일 화면에 최적화. 요소의 크기를 더욱 줄이고, 
               슬라이드와 버튼의 레이아웃을 세로로 조정 */
@media (max-width: 480px) {
   

    .header_logo p {
        font-size: 14px; 
        
    }

    .navbar_menu li {
        font-size: 10px; 
    }

    .search_box input {
        width: 100%; 
        height: 10px; 
    }

    .header_login a {
        width: 50px; 
        height: 20px; 
        font-size: 10px; 
    }
    .header_login a img{
        width: 20px; 
        height: 20px; 
        margin-right: 0;
    }

    .slide_section {
        flex-direction: column; /* 세로 방향으로 배치 */
    }

    .slide_1, .slide_2, .slide_3, .slide_4 {
        width: 90%; /* 슬라이드 폭 조정 */
        height: auto; /* 자동 높이 조정 */
    }

    .last_sentenc {
        font-size: 8px; /* 폰트 크기 조정 */
    }
}
