
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(45deg, #090724,#0b2921); 
    position: relative;
    /* 고정값 추가 gpt */
    padding-top: 80px; /* height of header */
    padding-bottom: 100px; /* height of footer */
}
/* header part */
#header_box {
    width: 100%;
    height: 80px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 세로 정렬 추가 */
    box-sizing: border-box;
     /* 고정값 추가 gpt */
     z-index: 1000;
     position: fixed;
     top: 0;
     left: 0;
     text-align: center;
     background: linear-gradient(45deg, #090724,#0b2921); 
}
    /* 고정값 추가 gpt */
footer{
    position: static;
    bottom: 0;
    left: 0;
    z-index: 1000; 
}
a{
    text-decoration: none;
    color: #8b8b8b;
    
}
.header_logo {
    width: 200px;
    display: flex;
    align-items: center;
}

.header_logo p {
    width: 150px;
    height: 60px;
    margin-top: 50px;
    font-size: 27px;
    color: #34e451;
    font-family: abster;
    letter-spacing: 3px;
}

.header_logo img {
    width: 50px;
    height: 60px;
}

.navbar_menu {
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.navbar_menu ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  
}

.navbar_menu li {
    padding: 8px 20px;
    list-style: none;
    font-size: 13px;
    color: #fff;
    
}

.navbar_menu li a:hover {
    color: #34e451;
    
}

/* search box */
.search_box {
    margin-right: auto; 
}

.search_box input {
    background: url(/home/img/icon/search_white_wght400_GRAD0_opsz24.png\ \(2\)) no-repeat 5px center;
    width: 600px;
    height: 40px; /* 높이 조정 */
    background-size: 20px;
    padding-left: 40px;
    border-radius: 4px;
    margin: 20px 0; /* 마진 조정 */
    color: #777;
}

/* login */
.header_login {
    display: flex;
    align-items: center; /* 세로 정렬 추가 */
    margin-left: auto; 
    margin-right: 80px;
}

.header_login a {
    width: 60px;
    height: 25px;
    border-radius: 4px;
    margin-right: 50px; /* 왼쪽 간격 조정 */
    background: #242726;
    color: #a8a8a8;
    font-size: 12px;
}
.header_login a p{
   margin-top: 3px;
   
}

.header_login a:hover {
    background: #34e451;
    transition: all 0.3s ease-in; /* 애니메이션 시간 단축 */
    color: #5a5a5a;
    font-weight: bold;
}

.header_login img{
    width: 30px;
    height: 30px; 
    margin-right: 50px;    
}

 .header_login img:hover{
  
    /* background: url(/home/img/icon/menu_hamburger_green.png.jpg) no-repeat center center; */
    transition: all 0.5s ease-in-out;
    color: #1b1919;
    /* font-weight:bold; */
 }
 /* description */
 #des_container{
    width: 80%;
 
    margin: 0 auto;
    /* border: 1px solid #35ff35; */

 }

h2{
    color: #f5f5f5;
    padding-left:10px;
    /* border: 1px solid #666; */
}
 .des_title ul{
    width: 10%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 0;
    /* border: 1px solid #666; */
 }
 /* .des_title ul img{-++++-
    width: 17px;
    
 } */
 .des_title li:first-child {
    border: none;
    /* width: 15px; */
 }
 .des_title li {
    width: 100%;
    height: 60%;
    list-style: none;
    color:#f5f5f5;
    margin: 2px;
    padding:0 2px 0 0;
    text-align: center;
    border-radius: 4px;
    font-size: 11px;
    /* border: 1px solid #666; */
 }
 .watch_select{
    margin-top: 50px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    background-color: #444;
    /* border: 1px solid #d32828; */
}
/* ------찜 ,공유  */
.watch_select span{  
    color:#f5f5f5;
    justify-content: center;
    align-items: center;
    display: inline-block;
    position: relative; 
    /*  1.드롭업 창 위치를 위해 relative 설정 */
    /* border: 1px solid #cf7d7d; */
}
.watch_select p {
    font-size: 11px;
    margin:0 auto
}
.watch_select  img{
    display: inline-block;
    cursor: pointer; /*2. 커서를 포인터로 변경 */
    /* border: 1px solid #dd22c4; */
}
/* 비디오팝업  */
#purchaseBtn{
    width: 200px;
    height: 50px;
    border-radius: 6px;
    background-color: #414141;
    color:#f5f5f5
    /* border: 1px solid #666; */
 }
/* 전체 화면 어둡게 오버레이 */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.7);
    z-index: 5;
}
/* 팝업 스타일 */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color:rgba(0, 0, 0,0.7);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    z-index: 10;
}
.popup iframe {
    width: 100%;
    height: 700px; 
}

/* 닫기 버튼 스타일 */
.close-btn {
    cursor: pointer;
    font-size: 18px;
    float: right;
    margin: -10px -10px 0 0;
    border: none; /* 테두리 없애기 */
    color: gray; /* 글자색을 그레이로 변경 */   
    background: none; /* 배경색 없애기 */
    outline: none; /* 포커스 아웃라인 없애기 */
}

/* share popup */
 .share-popup {
    width: 120px;
    position: absolute;
    margin-top: -79px; /* 공유 아이콘 위로 위치 */
    left: 470px; /* 아이콘과 정렬 */
    background-color: #666;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0px;
    z-index: 1000;
    display: none;
    /* border: 1px solid #7e3737; */
}

.share-option {
    display: inline-flex;   /* 가로정렬*/
    align-items: center;
    margin: 0 7px 0 7px;
    cursor: pointer;
    /* border: 1px solid #af6f6f; */
}

.share-option img {
    margin-right: 10px;
    width: 20px;
    margin: 0 auto;
}
/* .favorite-selected {
    background-color: rgb(189, 186, 186); 선택 시 배경색 변경 
     border: 1px solid #cf7d7d; *선택 시 테두리 색상 
} */

  /*dbgBTn수정  */
 /* 시놉시스 스타일 */
 .tb_container {
    width: 80%;
    margin: 2% 10%;
    display: flex;
    justify-content: space-between;
    position: relative;
    /* border: 1px solid #0ec469; */
}

#tb_container {
    width: 40%;
    height: 380px;
    position: absolute;
    /* border: 1px solid #ff1414; */
}

.des_poster {
    width: 40%;
    margin-left: 60%;
    /* border: 1px solid #7568f0; */
}
.des_poster img {
    width:1000px;
    height: 380px;
    z-index: 30;
    bottom: 100%;
    float:right;
 }

/* 시놉시스 기본 설정 */
#dropdown {
    width: 90%;
    background: linear-gradient(45deg, #090724,#0b2921); 
    backdrop-filter: blur(20px); /* 블러 효과 적용 */
    margin: 0 20px 0 10px;
    overflow: hidden;
    transition: height 0.3s ease;
    /* border: 1px solid #f78030; */
}

.dropdown-content p {
    color: #dfd9d9;
    font-size: 13px;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6; 
    /* 초기 6줄만 표시 */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    position: relative;
    /* border: 1px solid #666; */
}

/* 더보기 버튼과 닫기 버튼 스타일 */
#toggleButton, #closeButton {
    background: none;
    border: none;
    color: #b4b4b3;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}



